.dashboard_text
{
    font-size: 16px;
    font-weight: bold;
      
    width: 100%;  
    background-color: whitesmoke;
}

.dashboard_text1{
  padding: 16px;
}

.dashboard_text2 {
  padding: 4px;
}
.some-page-wrapper {
    margin: 15px;
    width: 98%;
    display: flex;
    background-color: #D3D3D3;
    height: calc(100vh - 160px);
    flex-wrap: wrap;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .row1
  {
      height: 70%;
  }

  .row2
  {
      height: 30%;
      background-color: whitesmoke;
  }
  
.column {
    display: flex;
    flex-direction: column;
  }

.row1col1
{
    width: 24%;
    background-color: white;
    border-top: 1px solid #021155;
    border-bottom: 1px solid #021155;
    height: 100%;
    padding: 4px;
}
.row1col1 > div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.row1col2
{
    width: 36%;
    background-color: white;
    border: 1px solid #021155;
    height: 100%;
    padding: 4px;
}

.row1col3
{
    width: 40%;
    background-color: white;
    border: 1px solid #021155;
    height: 100%;
    padding: 4px;
}

.recharts-wrapper
{
    width: "525px" !important;
    height: "400px" !important;
}

.column_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #021155;
    width: 22.9vw;
    margin:0.75vw;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }

  .column_card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }

  .card_text
  {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 1vw;
    color: #021155;
  }

.card_link
{
  text-decoration: none;
  font-size: 0.5vw;
  font-style: inherit;
  color: #8884d8;
  font-size: 18px;
}

.images
{
  width:18px;
  height:18px;
}
